#currentWeek {
  border-bottom: 1px solid black;
}

#currentWeek ul {
  padding-left: 0;
}

.bayContainer,
.bay {
  display: inline-block;
}

.bay {
  position: relative;
}

.bayContainer {
  width: 124px;
  height: 165px;
  padding: 0;
  margin: 3px;
}

.emptyBay {
  background-color: #eee;
  height: 100%;
  width: 100%;
}

.removeBtn {
  top: 0;
  right: 0;
  position: absolute;
  font-weight: bold;
  color: transparent;
  padding: 3px 6px;
}
.removeBtn:hover {
  color: black;
  background-color: grey;
}
