<h2>{{title}}</h2>
<div id="currentWeek">
  <div id="plannerRow" *ngIf="currentWeek">
    <h3>Current Week: {{currentWeek.id}}</h3>
    <dl>
      <div class="bayContainer" *ngFor="let bay of plannerBays" [ngSwitch]="bay.id > 0">
        <div *ngSwitchCase="true" class="fullBay bay">
          <app-component-meal-card [meal]="bay"></app-component-meal-card>
        </div>
        <div *ngSwitchDefault class="emptyBay bay"></div>
      </div>
    </dl>
  </div>
</div>
<div id="userMeals">
  <dl>
    <div *ngFor="let currentMeal of meals" class="bayContainer">
      <app-component-meal-card [meal]="currentMeal" class="bay"></app-component-meal-card>
    </div>
  </dl>
</div>
